//fonts
@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo2.0-Thin.otf');
}
// imports
@import './base/variables';
@import './components/CardList.scss';
@import './components/Card.scss';
// base browser styles reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Exo', Arial, Helvetica, sans-serif;
}

.App {
	width: 100%;
	min-height: 100vh;
	background: #c3c3c3 url('../assets/backgrounds/main-bg.png') no-repeat;
	background-size: cover;
}

.page-container {
	width: 100%;
	min-height: 100vh;
	color: white;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 5e-5) 49.88%,
		rgba(0, 0, 0, 0.5) 100%
	);
}

.flex-center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.flex-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
