$white: #ffffff;
$metallic-white: #f2f2f2;
$black: #000000;
$gray-200: #666666;
$blue-200: #2ea8e6;
$blue-300: #22a7e9;
$blue-400: #1698d9;
$magenta-200: #e52e7a;
$magenta-300: #e62e7a;
$magenta-400: #d91667;
$yellow-200: #ffff66;
$muted: #b3b3b3;
